
<div class = "type example">
<br> 
  <h2 class="ui header centered">Prova<h2>

  <form class="ui form two column centered grid">

    <div class="required field six wide column">
      <label>Nome</label>
      <input type="text" placeholder="Nome" id="nome" name="nome">
    </div>
    
    <div class="six wide column"><br>
      Nome: <span id="display_nome"></span>
    </div>
    
    <div class="required field six wide column">
      <label>E-mail</label>
      <input type="email" placeholder="E-mail" id="email" name="email">
    </div>
    
    <div class="six wide column"><br>
      E-mail: <span id="display_email"></span> 
    </div> 

    <div class="required field six wide column">
      <label>Telefone</label>
      <input type="text" placeholder="Telefone" name="phone" id="phone">
    </div>

    <div class="six wide column"><br>
      Telefone: <span id="display_phone"></span>
    </div>

    <div class="required field six wide column">
      <label>Assunto</label>
      <input type="text" placeholder="Assunto" id="assunto" name="assunto">
    </div>

    <div class="six wide column"><br>
      Assunto: <span id="display_assunto"></span>
    </div>

    <div class="required field six wide column">
      <label>Mensagem</label>
      <textarea rows="2" placeholder="Sua mensagem" id="msg" name="msg"></textarea>
    </div>
    
    <div class="six wide column"><br>
      Mensagem: <span id="display_msg"></span>
    </div>
    
    <div class="six wide column">
      <button class="ui button" value="submit" name="submit">Enviar</button>
    </div>

  </form>

</div>

